Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list 

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [7]:
a = [2,3,4,5,6,7]

In [12]:
a.append("mango")

In [13]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [15]:
a.append(["banana", "grapes", "orange"])

In [16]:
a

[2, 3, 4, 5, 6, 7, 'mango', ['banana', 'grapes', 'orange']]

In [17]:
a[5] = "apple"

In [18]:
a

[2, 3, 4, 5, 6, 'apple', 'mango', ['banana', 'grapes', 'orange']]

In [19]:
a.pop()

['banana', 'grapes', 'orange']

In [20]:
a

[2, 3, 4, 5, 6, 'apple', 'mango']

Q2. L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [21]:
L = [1,2,3,4,5,6,7]

L[1:4]

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [22]:
l = [4,5,6,8,3]

l.reverse()

In [23]:
l

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [28]:
import math

l = [2,4,7,3,6,8]

for i in l:
    print(i**2)

4
16
49
9
36
64

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [31]:
def sum_of_integers(tuple):
    sum = 0
    for i in tuple:
        sum += i

    return sum

In [32]:
sum_of_integers((3,4,5))

12

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [33]:
fav_fruit1 = {"apple", "mango", "banana"}
fav_fruit2 = {"graphes", "orange", "cherry"}

combined_fruits = fav_fruit1.union(fav_fruit2)

combined_fruits

{'apple', 'banana', 'cherry', 'graphes', 'mango', 'orange'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [34]:
random_words = {"hii", "hello", "good morning"}

random_words.add("good afternoon")

In [35]:
random_words

{'good afternoon', 'good morning', 'hello', 'hii'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [36]:
animals = {"loin", "dear", "cheetah", "fox", "hiran"}

animals.remove("cheetah")

animals

{'dear', 'fox', 'hiran', 'loin'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

      Use the zip() function to combine the book set and movie list into a list of tuples  representing book/ 

 movie pairs. Print the resulting list.

In [38]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

combine_list = list(zip(favorite_books, favorite_movies))

combine_list

[('Pride and Prejudice', 'The Shawshank Redemption'),
 ('1984', 'The Godfather'),
 ('To Kill a Mockingbird', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.