In [2]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [3]:
df = pd.read_csv("../Dataset/bike_buyers_clean.csv")

In [4]:
df.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No
1,24107,Married,Male,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No
2,14177,Married,Male,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No
3,24381,Single,Male,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes
4,25597,Single,Male,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1000 non-null   int64
 1   Marital Status    1000 non-null   object
 2   Gender            1000 non-null   object
 3   Income            1000 non-null   int64
 4   Children          1000 non-null   int64
 5   Education         1000 non-null   object
 6   Occupation        1000 non-null   object
 7   Home Owner        1000 non-null   object
 8   Cars              1000 non-null   int64
 9   Commute Distance  1000 non-null   object
 10  Region            1000 non-null   object
 11  Age               1000 non-null   int64
 12  Purchased Bike    1000 non-null   object
dtypes: int64(5), object(8)
memory usage: 101.7+ KB

In [6]:
df.shape

(1000, 13)

In [11]:
oneHot_cols = df[["Marital Status", "Gender", "Home Owner", "Commute Distance", "Region"]]
ordinal_cols = df[["Education", "Occupation"]]

In [12]:
categories = []
for col in ["Education", "Occupation"]:
    categories.append(df[col].unique()) 
    print(df[col].unique())

['Bachelors' 'Partial College' 'High School' 'Partial High School'
 'Graduate Degree']
['Skilled Manual' 'Clerical' 'Professional' 'Manual' 'Management']

In [15]:
categories[0] = ['Partial High School', 'High School', 'Partial College', 'Bachelors', 'Graduate Degree']
categories[1] = ['Manual', 'Clerical', 'Skilled Manual', 'Professional', 'Management']

In [16]:
categories

[['Partial High School',
  'High School',
  'Partial College',
  'Bachelors',
  'Graduate Degree'],
 ['Manual', 'Clerical', 'Skilled Manual', 'Professional', 'Management']]

In [17]:
column_transformer = ColumnTransformer([
    ("one_hot", OneHotEncoder(), oneHot_cols),
    ("ordinal", OrdinalEncoder(categories=categories), ordinal_cols)
])

In [20]:
df_encoded = pd.DataFrame(column_transformer.fit_transform(df))

ValueError: No valid specification of the columns. Only a scalar, list or slice of all integers or all strings, or boolean mask is allowed