In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import math

In [2]:
df = pd.read_csv("../Dataset/housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
df[["housing_median_age", "total_rooms"]].describe()

       housing_median_age   total_rooms
count        20640.000000  20640.000000
mean            28.639486   2635.763081
std             12.585558   2181.615252
min              1.000000      2.000000
25%             18.000000   1447.750000
50%             29.000000   2127.000000
75%             37.000000   3148.000000
max             52.000000  39320.000000

In [4]:
scaler = StandardScaler()
scaler.set_output(transform="pandas")

StandardScaler()

In [5]:
df_scaled = scaler.fit_transform(df.drop(columns="ocean_proximity"))
df_scaled.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-1.327835,1.052548,0.982143,-0.804819,-0.970325,-0.974429,-0.977033,2.344766,2.129631
1,-1.322844,1.043185,-0.607019,2.045890,1.348276,0.861439,1.669961,2.332238,1.314156
2,-1.332827,1.038503,1.856182,-0.535746,-0.825561,-0.820777,-0.843637,1.782699,1.258693
3,-1.337818,1.038503,1.856182,-0.624215,-0.718768,-0.766028,-0.733781,0.932968,1.165100
4,-1.337818,1.038503,1.856182,-0.462404,-0.611974,-0.759847,-0.629157,-0.012881,1.172900

In [6]:
df_scaled[["housing_median_age", "total_rooms"]].describe()

       housing_median_age   total_rooms
count        2.064000e+04  2.064000e+04
mean         5.508083e-18  3.201573e-17
std          1.000024e+00  1.000024e+00
min         -2.196180e+00 -1.207283e+00
25%         -8.453931e-01 -5.445698e-01
50%          2.864572e-02 -2.332104e-01
75%          6.643103e-01  2.348028e-01
max          1.856182e+00  1.681558e+01

In [7]:
dfx = df_scaled.fillna(0)

In [8]:
data_x = dfx.drop(columns="median_house_value")
data_y = dfx["median_house_value"]

In [9]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.3)

In [10]:
reg = LinearRegression()

reg.fit(train_x, train_y)

LinearRegression()

In [11]:
def regSummary(y_true, y_pred):
    return{
        "r2_score": r2_score(y_true, y_pred),
        "mae": mean_absolute_error(y_true, y_pred),
        "mse": mean_squared_error(y_true, y_pred),
        "rmse": math.sqrt(mean_squared_error(y_true, y_pred))
    }

y_pred = reg.predict(test_x)

In [12]:
regSummary(test_y, y_pred)

{'r2_score': 0.6431074773275516,
 'mae': 0.44409207169081677,
 'mse': 0.3616331102804107,
 'rmse': 0.6013593852933624}

In [13]:
df2 = pd.DataFrame({
    "Features" : train_x.columns,
    "Importance": reg.coef_[0]
})

df2

             Features  Importance
0           longitude   -0.727296
1            latitude   -0.727296
2  housing_median_age   -0.727296
3         total_rooms   -0.727296
4      total_bedrooms   -0.727296
5          population   -0.727296
6          households   -0.727296
7       median_income   -0.727296

In [14]:
dict_subsets = {}
for i in range(0, int(15000/200)):
    row_start = i * 200
    row_end = row_start + 200
    df_curr = df.loc[row_start:row_end]
    dict_subsets['df_' + str(i)] = df_curr