In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_csv("../Dataset/bike_buyers_clean.csv")

In [3]:
df.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No
1,24107,Married,Male,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No
2,14177,Married,Male,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No
3,24381,Single,Male,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes
4,25597,Single,Male,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes

In [20]:
ordinal_encoder = OrdinalEncoder()

In [21]:
new_df = ordinal_encoder.fit_transform(df["Education"].to_numpy().reshape(-1,1))

In [30]:
edu_df = pd.DataFrame({
    "Education" : df.Education,
    "Edu_encode" : new_df.flatten()
})

In [33]:
edu_group =edu_df.groupby(edu_df.Education)

In [40]:
edu_group.get_group("Bachelors")

     Education  Edu_encode
0    Bachelors         0.0
3    Bachelors         0.0
4    Bachelors         0.0
7    Bachelors         0.0
11   Bachelors         0.0
..         ...         ...
985  Bachelors         0.0
988  Bachelors         0.0
989  Bachelors         0.0
997  Bachelors         0.0
998  Bachelors         0.0

[306 rows x 2 columns]

In [85]:
edu_dist = {}

for ed in df["Education"].unique():
       edu_dist[ed] =  edu_group.get_group(ed).reset_index().loc[0,"Edu_encode"]

In [86]:
edu_dist

{'Bachelors': 0.0,
 'Partial College': 3.0,
 'High School': 2.0,
 'Partial High School': 4.0,
 'Graduate Degree': 1.0}

In [88]:
df.Education.unique()

array(['Bachelors', 'Partial College', 'High School',
       'Partial High School', 'Graduate Degree'], dtype=object)

In [90]:
df.Education.unique()[[3,2,1,0,4]]

array(['Partial High School', 'High School', 'Partial College',
       'Bachelors', 'Graduate Degree'], dtype=object)

In [115]:
col = [i[0] for i in df.Education.unique()[[3,2,1,0,4]].reshape(-1,1)]
enc = OrdinalEncoder(categories=[col])

In [116]:
[col]

[['Partial High School',
  'High School',
  'Partial College',
  'Bachelors',
  'Graduate Degree']]

In [118]:
tf_ed = enc.fit_transform(df.Education.to_numpy().reshape(-1,1))

In [119]:
edu_df = pd.DataFrame({
    "Education" : df.Education,
    "Edu_encode" : tf_ed.flatten()
})

In [120]:
edu_df

           Education  Edu_encode
0          Bachelors         3.0
1    Partial College         2.0
2    Partial College         2.0
3          Bachelors         3.0
4          Bachelors         3.0
..               ...         ...
995      High School         1.0
996  Graduate Degree         4.0
997        Bachelors         3.0
998        Bachelors         3.0
999      High School         1.0

[1000 rows x 2 columns]