In [1]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Add region column in life expectancy dataset through api

In [2]:
df = pd.read_csv('../Dataset/Life Expectancy Data.csv')

In [5]:
req = requests.get("https://restcountries.com/v3.1/all?fields=name,region")

content = json.loads(req.content.decode())

In [7]:
countries = [{"name": country["name"]["common"], "region": country["region"]} for country in content]

In [9]:
df2 = pd.DataFrame(countries)
df2

                         name    region
0    Turks and Caicos Islands  Americas
1                     Nigeria    Africa
2              Western Sahara    Africa
3                      Taiwan      Asia
4                  Costa Rica  Americas
..                        ...       ...
245            American Samoa   Oceania
246                Micronesia   Oceania
247                 Sri Lanka      Asia
248              South Africa    Africa
249                 Nicaragua  Americas

[250 rows x 2 columns]

In [10]:
df2.head()

                       name    region
0  Turks and Caicos Islands  Americas
1                   Nigeria    Africa
2            Western Sahara    Africa
3                    Taiwan      Asia
4                Costa Rica  Americas

In [11]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [21]:
cdf = df2[df2["name"].isin(df.Country.unique())]
cdf

             name    region
1         Nigeria    Africa
4      Costa Rica  Americas
5           Benin    Africa
6        Honduras  Americas
7           Palau   Oceania
..            ...       ...
242       Uruguay  Americas
243      Colombia  Americas
247     Sri Lanka      Asia
248  South Africa    Africa
249     Nicaragua  Americas

[171 rows x 2 columns]

In [22]:
AllCountries = pd.Series(df.Country.unique())
AllCountries

0                             Afghanistan
1                                 Albania
2                                 Algeria
3                                  Angola
4                     Antigua and Barbuda
                      ...
188    Venezuela (Bolivarian Republic of)
189                              Viet Nam
190                                 Yemen
191                                Zambia
192                              Zimbabwe
Length: 193, dtype: object

In [23]:
SelectedCountries =  AllCountries[AllCountries.isin(cdf.name)]
SelectedCountries

0              Afghanistan
1                  Albania
2                  Algeria
3                   Angola
4      Antigua and Barbuda
              ...
186             Uzbekistan
187                Vanuatu
190                  Yemen
191                 Zambia
192               Zimbabwe
Length: 171, dtype: object

In [25]:
new_df =  df[df.Country.isin(SelectedCountries)]
new_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [26]:
new_df["Region"] = new_df.Country.apply(lambda x:cdf.set_index("name").loc[x].item())

C:\Users\Abhishek\AppData\Local\Temp\ipykernel_16660\4212224270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Region"] = new_df.Country.apply(lambda x:cdf.set_index("name").loc[x].item())

In [30]:
new_df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Region
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,Asia
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,Asia
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,Asia
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,Asia
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,Africa
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,Africa
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,Africa
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,Africa
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,Africa

In [34]:
new_df.shape

(2586, 23)

In [35]:
df.shape

(2938, 22)