# Spread of Data

When the data is only about one variable then it is called univariate data. 

**Example :** Data could be SAT scores, heights, or salaries. When the data set is small, it is easier to understand the data, when there is a large data set, to understand the data better, analysis must be done to draw some inferences from the data.

Univariate data sets can be analyzed in two differnt ways:

1. **Center of data :** is the summary of the entire set, mean or median are the measures representing the center of data.

2. **Spread of data :** (also knows as variation, fluctuation, dispersion, etc.) is the measure of how far the data ranges from the center pf data (mean or median). **Range, Variance, Inter-Quartile Range (IQR), Standard Deviation.** are the measures of the spread of the data.

   
   |Max. Score = 100| Arun | John|
   |-----|----|------|
   |Math|100|45|
   |Physics|40|65|
   |Chemistry|20|70|
   |Programming|100|80|
   |**Average**|**65**|**65**|

The average score for both students is equal. However, John is consistent at everything, while Arun is brilliant at math and programming, but terrible at chemistry. Clearly, it is difficult to judge the performance of the two students on the basis of their average scores alone. We need some additional measure to reveal the entire story.

**Range :** The simplest measure of spread in data in the range. It is the difference between maximum value and the minimum value withinthe data set.

    Example : Range of Arun is 100-20=80 and Range of John is 80-45=35. Through the average score are same for both, John is more consistent because he has smaller range of score.

**Variance :** Dispersion, or spread of data, is measured in terms of how far the data differs from the mean. In other words, if mean is the centre of the data, if we get an idea about how far the individual data points deviate from the mean, we would have an idea about the spread. Therefore, a simple measure of dispersion could be an average of the differences about the mean.

However, this average would have a problem. The actual data points could lie on either side of the mean, and thus, the deviations could be either positive or negative. Now, if we were to compute the average of these deviations, the negatives and positives would cancel out, and the average would be very low, or even zero.

Take a look at the table below; the deviations are calculated as Value minus Mean, and the average of the deviations is calcuted:

|Max. Score = 100| Arun |Deviation| John|Deviation|
   |-----|-------|-------|----|------|
   |Math|100|35|45|-20|
   |Physics|40|-25|65|0|
   |Chemistry|20|-45|70|5|
   |Programming|100|35|80|15|
   |**Average**|**65**|**0**|**65**|**0**|

Does this mean that there are no deviations in the data? Clearly, that is untrue.

We need to manipulate the negative values in some way, so as to get rid of the negative sign. This is usually done by squaring the values before computing the average of the squared deviations. The resulting average value is called the variance. In the table below, the deviations have been squared, and then averaged:

|Max. Score = 100| Arun |Sq. Deviation| John|Sq. Deviation|
   |-----|-------|-------|----|------|
   |Math|100|1225|45|400|
   |Physics|40|625|65|0|
   |Chemistry|20|2025|70|25|
   |Programming|100|1225|80|225|
   |**Average**|**65**|**1275**|**65**|**162.5**|d:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = {'Max. Score = 100':["Math", "Physics", "Chemistry", "Programming"],'Arun': [100,40,20,100],'John':[45,65,70,80]}

df = pd.DataFrame(data)

In [3]:
df.set_index("Max. Score = 100")

                  Arun  John
Max. Score = 100
Math               100    45
Physics             40    65
Chemistry           20    70
Programming        100    80

In [4]:
df.Arun.mean()

65.0

In [5]:
df.John.mean()

65.0

In [6]:
df.describe()

             Arun       John
count    4.000000   4.000000
mean    65.000000  65.000000
std     41.231056  14.719601
min     20.000000  45.000000
25%     35.000000  60.000000
50%     70.000000  67.500000
75%    100.000000  72.500000
max    100.000000  80.000000

In [7]:
df["Arun"].std()

41.23105625617661