In [1]:
import json
import random

In [2]:
file = open("Person data.json")
data = json.load(file)
students = data["users"]

# making a subject list...
subjects = ["Hindi", "English", "Math", "Science", "Social Science"]

# extract students and adding subjects and marks
def extract_student(student, keys=["firstName", "lastName", "email", "phone"]):
    student_data = {}

    for key in keys:
        student_data[key] = student.get(key, "")

    student_data["marks"] = {subject:random.randint(20, 100) for subject in subjects}
    return student_data

# function for adding obtained_marks, percentage or result
def result_info(student):
    max_marks = 500
    marks = student.get("marks", 0).values()
    obtained_marks = sum(marks)
    percentage = (obtained_marks / max_marks)*100

    student["obtained_marks"] = obtained_marks
    student["percentage"] = percentage

    if percentage > 50:
        student["isPass"] = "Pass"
    else:
         student["isPass"] = "Fail"

    return student

# function on creating a marksheet
def marksheet(students):
    lw = 150
    print("="*lw)
    print(f"{'Name':25s} {'Hindi':15s} {'English':15s} {'Math':15s} {'Science':15s} {'Social Science':15s} {'Total Marks':15s} {'Percentage':15s} {'Result':15s}")
    print("="*lw)

    for student in students:
        firstName = student.get("firstName")
        lastName = student.get("lastName")
        fullName = firstName + " " + lastName
        marks = student.get("marks")
        obtained_marks = student.get("obtained_marks")
        percentage = student.get("percentage")
        ispass = student.get("isPass")

        hindi_marks = marks.get("Hindi", 0)
        english_marks = marks.get("English", 0)
        science_marks = marks.get("Science", 0)
        math_marks = marks.get("Math", 0)
        social_marks = marks.get("Social Science", 0)

        print(f"{fullName:25s} {hindi_marks:<15d} {english_marks:<15d} {science_marks:<15d} {math_marks:<15d} {social_marks:<15d} {obtained_marks:<15d} {percentage:<15.2f} {ispass}")

    print("="*lw)

In [3]:
school_info = map(extract_student, students)
generate_data = map(result_info, school_info)

mylist = list(generate_data)

marksheet(mylist)

======================================================================================================================================================
Name                      Hindi           English         Math            Science         Social Science  Total Marks     Percentage      Result
======================================================================================================================================================
Terry Medhurst            68              94              88              33              74              357             71.40           Pass
Sheldon Quigley           81              89              84              20              83              357             71.40           Pass
Terrill Hills             81              94              47              43              30              295             59.00           Pass
Miles Cummerata           38              90              39              91              21              279             55.80           Pass
Mavis Schultz             44              20              89              98              93              344             68.80           Pass
Alison Reichert           41              94              88              46              83              352             70.40           Pass
Oleta Abbott              38              71              75              33              33              250             50.00           Fail
Ewell Mueller             33              89              64              60              49              295             59.00           Pass
Demetrius Corkery         96              48              57              55              69              325             65.00           Pass
Eleanora Price            35              33              67              85              38              258             51.60           Pass
Marcel Jones              24              34              84              38              58              238             47.60           Fail
Assunta Rath              94              58              97              86              60              395             79.00           Pass
Trace Douglas             71              70              33              98              68              340             68.00           Pass
Enoch Lynch               97              88              50              77              63              375             75.00           Pass
Jeanne Halvorson          20              27              97              86              48              278             55.60           Pass
Trycia Fadel              80              25              94              76              21              296             59.20           Pass
Bradford Prohaska         100             27              68              55              20              270             54.00           Pass
Arely Skiles              83              38              31              96              31              279             55.80           Pass
Gust Purdy                82              77              84              93              86              422             84.40           Pass
Lenna Renner              72              66              20              44              20              222             44.40           Fail
Doyle Ernser              56              74              58              39              59              286             57.20           Pass
Tressa Weber              22              78              90              45              38              273             54.60           Pass
Felicity O'Reilly         34              80              97              83              81              375             75.00           Pass
Jocelyn Schuster          76              38              30              71              73              288             57.60           Pass
Edwina Ernser             83              21              81              54              63              302             60.40           Pass
Griffin Braun             100             46              23              79              21              269             53.80           Pass
Piper Schowalter          24              82              71              62              36              275             55.00           Pass
Kody Terry                75              45              29              69              98              316             63.20           Pass
Macy Greenfelder          77              43              37              53              87              297             59.40           Pass
Maurine Stracke           83              91              23              29              56              282             56.40           Pass
======================================================================================================================================================

In [4]:
sorted_list = sorted(mylist, key=lambda x: x['percentage'], reverse=True)
print("Top 5 Students")
marksheet(sorted_list[0:5])

Top 5 Students
======================================================================================================================================================
Name                      Hindi           English         Math            Science         Social Science  Total Marks     Percentage      Result
======================================================================================================================================================
Gust Purdy                82              77              84              93              86              422             84.40           Pass
Assunta Rath              94              58              97              86              60              395             79.00           Pass
Enoch Lynch               97              88              50              77              63              375             75.00           Pass
Felicity O'Reilly         34              80              97              83              81              375             75.00           Pass
Terry Medhurst            68              94              88              33              74              357             71.40           Pass
======================================================================================================================================================

### lambda function

```python
lambda x,y: (x+y)**2

Xfunc(lamba x,y: Yfunc(x,y))
```

In [13]:
x_values = [random.randint(1,20) for i in range(10)]
y_values = [ random.randint(1,20) for i in range(10)]

In [6]:
xy

[(15, 18),
 (7, 15),
 (13, 15),
 (20, 8),
 (5, 5),
 (4, 9),
 (7, 20),
 (1, 20),
 (1, 1),
 (19, 6)]

In [14]:
list(map(lambda x,y: (x+y)**2, x_values, y_values))

[196, 576, 784, 784, 361, 400, 144, 256, 625, 1156]

(15, 18)

In [17]:
value = float(input("Enter a float number: "))

if  value in range(2.0, 3.0):
    print("Value in range 2.0 and 3.0")
elif value in range(4.0, 5.0):
    print("Value in range 4.0 and 5.0")
else:
    print("Value in valid")

Enter a float number:  12

TypeError: 'float' object cannot be interpreted as an integer

In [21]:
range(2,10, 1)

range(2, 10)

In [26]:
def float_range(start,end,step):
    current = start
    _range = []
    while current < end:
        _range.append(round(current,2))
        current += step

    return _range

In [27]:
float_range(2.0, 3.0, 0.3)

[2.0, 2.3, 2.6, 2.9]