# Arithmetic Operations

In [1]:
import pandas as pd

In [2]:
dataframe1 = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [6,7,8,9,10]})
print(dataframe1)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [7]:
dataframe1["C"] = dataframe1["A"]+dataframe1["B"]

print(dataframe1)

   A   B   C
0  1   6   7
1  2   7   9
2  3   8  11
3  4   9  13
4  5  10  15

In [8]:
dataframe1["D"] = dataframe1["C"]-dataframe1["A"]

print(dataframe1)

   A   B   C   D
0  1   6   7   6
1  2   7   9   7
2  3   8  11   8
3  4   9  13   9
4  5  10  15  10

In [10]:
dataframe2 = pd.DataFrame({"A": [11, 22, 33, 44, 55], "B": [66,77,88,99,100]})
print(dataframe2)

    A    B
0  11   66
1  22   77
2  33   88
3  44   99
4  55  100

In [11]:
dataframe2["Less Than 50"] = dataframe2["A"] <=50

print(dataframe2)

    A    B  Less Than 50
0  11   66          True
1  22   77          True
2  33   88          True
3  44   99          True
4  55  100         False