# Series
It is defined as a one dimensional array that is capable of storing various data types

In [2]:
import pandas as pd

In [5]:
a = (1, 4, 6, 3, 6, 7,)

series_list = pd.Series(a)

print(series_list)

print(type(series_list))

0    1
1    4
2    6
3    3
4    6
5    7
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
print(series_list[4])

6

In [13]:
series_list2 = pd.Series(a, index=["a","s","d","f","g", "h"])
# we can take euual numbers of indexes to element present in a element

print(series_list2)

a    1
s    4
d    6
f    3
g    6
h    7
dtype: int64

In [15]:
series_list3 = pd.Series(a, dtype="float")

print(series_list3)

0    1.0
1    4.0
2    6.0
3    3.0
4    6.0
5    7.0
dtype: float64

In [16]:
# in series we can pass any type of data like list, tuple, dictionary

dic = {"name":["Abhishek", "Manish", "Hanish"], "age":[19, 20, 19], "height":[5.7, 5.6, 5.8]}

dic_series = pd.Series(dic)

print(dic_series)

name      [Abhishek, Manish, Hanish]
age                     [19, 20, 19]
height               [5.7, 5.6, 5.8]
dtype: object

# DataFrame
It is defined as a two-dimensional array data structure with columns, much like table

In [18]:
dic_dataframe = pd.DataFrame(dic)

print(dic_dataframe)

       name  age  height
0  Abhishek   19     5.7
1    Manish   20     5.6
2    Hanish   19     5.8

In [23]:
# getting single column

dic_dataframe2 = pd.DataFrame(dic, columns=["name", "height"])

print(dic_dataframe2)

       name  height
0  Abhishek     5.7
1    Manish     5.6
2    Hanish     5.8

In [24]:
# getting particular value

print(dic_dataframe["name"][2])

Hanish

In [25]:
# making dataframe by series

subjects = {"Subject":pd.Series(["Hindi", "English", "Math", "Science"]), "Code":pd.Series([101, 105, 102, 108])}

subject_dataframe = pd.DataFrame(subjects)

print(subject_dataframe)

   Subject  Code
0    Hindi   101
1  English   105
2     Math   102
3  Science   108