# Delete & Insert Function

### Insert Function

In [1]:
import pandas as pd

In [2]:
dataframe = pd.DataFrame({"Name":["Abhishek", "Sunny", "Rajat"], "Age":[19, 19, 21]})

print(dataframe)

       Name  Age
0  Abhishek   19
1     Sunny   19
2     Rajat   21

### Insert Function take three arguments
1. index number where you can insert the column
2. name of the column
3. data

In [10]:
dataframe.insert(2,"Height", [5.7, 6.1, 5.4] )

In [11]:
print(dataframe)

       Name  Age  Height     Contact
0  Abhishek   19     5.7  9464893022
1     Sunny   19     6.1  8453937382
2     Rajat   21     5.4  9036392072

In [13]:
dataframe["Contact2"] = dataframe["Contact"][:2]

print(dataframe)

       Name  Age  Height     Contact      Contact2
0  Abhishek   19     5.7  9464893022  9.464893e+09
1     Sunny   19     6.1  8453937382  8.453937e+09
2     Rajat   21     5.4  9036392072           NaN

## Delete Funtion

In [16]:
dataframe1 = dataframe.pop("Age")

print(dataframe1)

0    19
1    19
2    21
Name: Age, dtype: int64

In [17]:
print(dataframe)

       Name  Height     Contact
0  Abhishek     5.7  9464893022
1     Sunny     6.1  8453937382
2     Rajat     5.4  9036392072

In [18]:
del dataframe["Height"]

print(dataframe)

       Name     Contact
0  Abhishek  9464893022
1     Sunny  8453937382
2     Rajat  9036392072